.header-text {
    font-size: 5em;
    font-weight: normal;
    letter-spacing: 10px;
    font-family: monospace;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(18), cursor .4s step-end infinite alternate;
}

header {
    background-color: grey;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}